---
const { img, icon, iconImgAlt, number, description, __component, iuco } =
  Astro.props;

const STRAPI_BASE_URL =
  import.meta.env.STRAPI_BASE_URL || "http://localhost:1337";
const className =
  __component && __component === "shared.stats-container-big"
    ? "container-big"
    : "container-small";
const imgIconSrc = icon?.src
  ? icon.src
  : icon?.url
    ? `${STRAPI_BASE_URL}${icon?.url}`
    : "";
console.log("Astro.props", Astro.props);
console.log("🚀 ~ imgIconSrc:", imgIconSrc);
---

<div class={`container ${className}`}>
  <div class="content">
    <div class="icon-container">
      {icon && <img class="icon-image" src={imgIconSrc} alt={iconImgAlt} />}
    </div>
    <div class="text">
      <h3>
        {number}
      </h3>
      <p>{description}</p>
    </div>
  </div>
  {
    img && (
      <div class="shape-container">
        <img class="shape-image" src={img.src} alt="" />
      </div>
    )
  }
</div>
<style>
  h3 {
    font-weight: 500;
  }
  p {
    line-height: 1.25;
    font-size: 1.25rem;
    font-weight: 200;
    letter-spacing: -1px;
  }
  .icon-image {
    max-width: 48px;
  }

  .container {
    display: flex;
    background-color: var(--color-surface);
    min-height: 584px;
    border-radius: 3px;
  }
  .container-big {
    /* flex: 1.5; */
    justify-content: space-between;
    align-items: center;
    max-width: 584px;
    width: 100%;
  }
  .container-big h3 {
    font-size: clamp(7rem, 6.25vw + 6.5rem, 12.5rem);
  }
  .container-small {
    width: 293px;
    /* flex: 1; */
  }
  .container-small h3 {
    font-size: clamp(6rem, 6.25vw + 6.5rem, 7.5rem);
  }
  .container-big .text {
    max-width: 355px;
  }

  .content {
    padding: 2rem 2rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 584px;
  }
  .shape-image,
  .shape-container {
    max-width: 156px;
  }
</style>
