---
const { img, iconImg, iconImgAlt, number, description, __component } =
  Astro.props;
const className =
  __component && __component === "shared.stats-container-big"
    ? "container-big"
    : "container-small";
// console.log("Astro.props", Astro.props);
---

<div class={`container ${className}`}>
  <div class="content">
    {iconImg && <img class="icon-image" src={iconImg.src} alt={iconImgAlt} />}
    <div class="text">
      <h3>
        {number}
      </h3>
      <p>{description}</p>
    </div>
  </div>
  {
    img && (
      <div class="shape-container">
        <img class="shape-image" src={img.src} alt="" />
      </div>
    )
  }
</div>
<script>
  // function applyContainerCenter() {
  //   const containers = document.querySelectorAll(".container");
  //   if (window.matchMedia("(max-width: 580px)").matches) {
  //     containers.forEach((el) => (el.style.justifyContent = "center"));
  //   } else {
  //     containers.forEach(
  //       (el) =>
  //         (el.style.justifyContent = el.dataset.justify || "space-between"),
  //     );
  //   }
  // }
  // window.addEventListener("resize", applyContainerCenter);
  // window.addEventListener("DOMContentLoaded", applyContainerCenter);
</script>
<style>
  h3 {
    font-weight: 500;
  }
  p {
    line-height: 1.25;
    font-size: 1.25rem;
    font-weight: 200;
    letter-spacing: -1px;
  }
  .icon-image {
    max-width: 48px;
  }

  .container {
    display: flex;
    background-color: var(--color-surface);
    min-height: 584px;
    display: flex;
    border-radius: 3px;
  }
  .container-big {
    flex: 2;
    justify-content: space-between;
    align-items: center;
  }
  .container-big h3 {
    font-size: clamp(8rem, 6.25vw + 6.5rem, 12.5rem);
  }
  .container-small h3 {
    flex: 1;
    font-size: clamp(7rem, 6.25vw + 6.5rem, 7.5rem);
  }

  .content {
    padding: 2rem 2rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 584px;
  }
  .shape-image,
  .shape-container {
    max-width: 156px;
  }
</style>
