---
import fetchGlobals from "../scripts/fetchGlobals";
import HTML from "../components/blocks/HTML.astro";

import "../styles/global.css";
import "normalize.css";

let faviconUrl = "/favicon.svg";

const STRAPI_BASE_URL =
  import.meta.env.STRAPI_BASE_URL || "http://localhost:1337";
const globalsUrl = `${STRAPI_BASE_URL}/api/global?populate=*`;
const globals: any = await fetchGlobals(globalsUrl);
const favicon = globals?.favicon || "";
let siteName = globals?.siteName || "Default Site Name";
let siteDescription = globals?.siteDescription || "Default Site Description";
let html = globals?.html || null;
const designSystem = globals?.designSystem || null;
if (favicon) faviconUrl = `${STRAPI_BASE_URL}${favicon}`;

const styles = designSystem || {
  "font-main": "Outfit, sans-serif;",
  "color-black": "rgba(26, 26, 26, 1)",
  "color-textPrimary": "rgba(0, 0, 0, 1)",
  "color-white": "rgba(255, 255, 255, 1)",
  "color-surface": "rgba(247, 247, 247, 1)",
  "font-size": "10px",
};
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={faviconUrl} />
    <meta name="generator" content={Astro.generator} />
    <title>{siteName || title || "Default Title"}</title>
    <meta
      name="description"
      content={siteDescription || description || "Default Description"}
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    {html && <HTML html={html} />}
    <style is:global define:vars={styles}></style>
  </head>
</html>
